--acronyms ID,URL,UUID
--allman false
--allow-partial-wrapping true
--anonymous-for-each convert
--asset-literals visual-width
--async-capturing 
--before-marks 
--binary-grouping 4,8
--blank-line-after-switch-case multiline-only
--call-site-paren default
--category-mark "MARK: %c"
--class-threshold 0
--closing-paren balanced
--closure-void remove
--complex-attributes preserve
--computed-var-attributes preserve
--conditional-assignment after-property
--conflict-markers reject
--date-format system
--decimal-grouping 3,6
--default-test-suite-attributes 
--doc-comments before-declarations
--else-position same-line
--empty-braces no-space
--enum-namespaces always
--enum-threshold 0
--equatable-macro none
--exponent-case lowercase
--exponent-grouping enabled
--extension-acl on-declarations
--extension-mark "MARK: - %t + %c"
--extension-threshold 0
--file-macro "#file"
--fraction-grouping enabled
--fragment false
--func-attributes preserve
--generic-types 
--group-blank-lines true
--grouped-extension "MARK: %c"
--guard-else auto
--guard-like-if-statements preserve
--header strip
--hex-grouping 4,8
--hex-literal-case uppercase
--ifdef indent
--import-grouping alpha,access-control
--indent 2
--indent-blank-lines false
--indent-case false
--indent-strings false
--inferred-types exclude-cond-exprs
--init-coder-nil false
--language-mode 0
--lifecycle 
--line-after-marks true
--line-between-guards false
--linebreaks lf
--list-wrap-threshold none
--mark-categories true
--mark-class-threshold 0
--mark-enum-threshold 0
--mark-extension-threshold 0
--mark-extensions always
--mark-struct-threshold 0
--mark-types always
--markdown-files ignore
--max-width none
--modifier-order 
--never-trailing 
--nil-init remove
--no-space-operators 
--no-wrap-operators 
--non-complex-attributes 
--octal-grouping 4,8
--operator-func spaced
--organization-mode visibility
--organize-types actor,class,enum,struct
--pattern-let hoist
--prefer-synthesized-init-for-internal-structs never
--preserve-acronyms 
--preserve-decls 
--preserved-property-types Package
--property-types explicit
--ranges spaced
--redundant-async tests-only
--redundant-optional-binding same-name-only
--redundant-throws tests-only
--self remove
--self-required 
--semicolons never
--short-optionals preserve-struct-inits
--single-line-for-each ignore
--single-line-ternary convert
--smart-tabs enabled
--some-any true
--sort-swiftui-properties none
--sorted-patterns 
--stored-var-attributes preserve
--strip-unused-args always
--struct-threshold 0
--suite-name-format preserve
--swift-version 6.4
--tab-width unspecified
--test-case-access-control private
--test-case-name-format raw-identifiers
--throw-capturing 
--timezone system
--trailing-closures 
--trailing-commas always
--trim-whitespace always
--type-attributes preserve
--type-blank-lines remove
--type-body-marks preserve
--type-delimiter space-after
--type-mark "MARK: - %t"
--type-marks 
--type-order 
--url-macro none
--visibility-marks 
--visibility-order 
--void-type Void
--wrap-arguments preserve
--wrap-collections preserve
--wrap-conditions preserve
--wrap-effects preserve
--wrap-enum-cases always
--wrap-parameters default
--wrap-return-type preserve
--wrap-string-interpolation false
--wrap-ternary default
--wrap-type-aliases preserve
--xcode-indentation enabled
--xctest-symbols 
--yoda-swap always
--disable blankLinesBetweenImports,wrapIfExpressionBodies,wrapIfStatementBodies,wrapPropertyBodies
--enable acronyms,blockComments,emptyExtensions,ifExpressions,isEmpty,markTypes,noGuardInTests,preferContains,preferCountWhere,preferExplicitFalse,preferFinalClasses,preferFirstWhere,preferFlatMap,preferLazyMap,preferMinOverSorted,preferSwiftTesting,privateStateVariables,redundantExtendedLifetime,redundantSendable,singlePropertyPerLine,sortSwitchCases,testSuiteAccessControl,unusedPrivateDeclarations,urlMacro,validateTestCases
